mixin social
  .social&attributes(attributes)
    .social__item.social__item--facebook
      i.fab.fa-facebook-f.social__icon
    .social__item.social__item--twitter
      i.fab.fa-twitter.social__icon
    .social__item.social__item--linkedin-in
      i.fab.fa-linkedin-in.social__icon
    .social__item.social__item--youtube
      i.fab.fa-youtube.social__icon
    .social__item.social__item--instagram
      i.fab.fa-instagram.social__icon
