.toggle {
  @include size(20px, 30px);

  display: none;

  &__item {
    @include size(100%, 3px);

    display: block;
    margin: 4px 0;
    background-color: var(--color-dark);
  }

  @include media-max(map_get($grid-breakpoints, lg)) {
    display: block;
  }
}
