mixin modal
  .modal&attributes(attributes)
    .modal__wrapper
      .modal__container
        .container
          .modal__icon.js-modal-icon
            i.fa.fa-times
          h5 Modal Title
          +replay
