mixin blockquote
  blockquote.blockquote&attributes(attributes)
    p.blockquote__text For me personally, 7 years later, all these is just a short summary of all the promises Mr. Obama failed to deliver to America’s doorstep.
    cite.blockquote__cite Roy Fowler

