mixin logo(light)
  a(href="./").logo&attributes(attributes)
    if light
      img(src="https://ld-wp73.template-help.com/wordpress/prod_18248/v1/wp-content/uploads/2018/03/loro_footer.png").logo__img
    else
      img(src="https://ld-wp73.template-help.com/wordpress/prod_18248/v1/wp-content/uploads/2018/04/logo.png").logo__img
