mixin sub-menu
  ul.sub-menu&attributes(attributes)
    li.sub-menu__item
      a(href="#").sub-menu__link
        span.sub-menu__label Video Playlist
    li.sub-menu__item
      a(href="#").sub-menu__link
        span.sub-menu__label Text Ticker
    li.sub-menu__item
      a(href="#").sub-menu__link
        span.sub-menu__label Post Layouts 1
        i.fa.fa-angle-right.sub-menu__icon

      ul.sub-menu
        li.sub-menu__item
          a(href="#").sub-menu__link
            span.sub-menu__label Text 1
        li.sub-menu__item
          a(href="#").sub-menu__link
            span.sub-menu__label Text 2
        li.sub-menu__item
          a(href="#").sub-menu__link
            span.sub-menu__label Text 3

    li.sub-menu__item
      a(href="#").sub-menu__link
        span.sub-menu__label Post Layouts 2
        i.fa.fa-angle-right.sub-menu__icon

      ul.sub-menu
        li.sub-menu__item
          a(href="#").sub-menu__link
            span.sub-menu__label Text 4
        li.sub-menu__item
          a(href="#").sub-menu__link
            span.sub-menu__label Text 5
            i.fa.fa-angle-right.sub-menu__icon

          ul.sub-menu
            li.sub-menu__item
              a(href="#").sub-menu__link
                span.sub-menu__label Text 1
            li.sub-menu__item
              a(href="#").sub-menu__link
                span.sub-menu__label Text 2
            li.sub-menu__item
              a(href="#").sub-menu__link
                span.sub-menu__label Text 3
