:root {
  --font-size: 16px;
  --font-family: 'Roboto', sans-serif;
  --font-family-secondary: 'Roboto Condensed', sans-serif;
  --line-height: 1.6;
  --typography-slim: 300;
  --typography-regular: 400;
  --typography-medium: 500;
  --typography-bold: 700;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin: {
    top: 0;
    bottom: 0;
  }
}

//h1,
//.h1 {
//  font-size: 85px;
//
//  @include media-max(map_get($grid-breakpoints, sm)) {
//    font-size: 65px;
//  }
//}
//
//h2,
//.h2 {
//  font-size: 80px;
//
//  @include media-max(map_get($grid-breakpoints, sm)) {
//    font-size: 60px;
//  }
//}
//
//h3,
//.h3 {
//  font-size: 60px;
//
//  @include media-max(map_get($grid-breakpoints, sm)) {
//    font-size: 40px;
//  }
//}
//
//h4,
//.h4 {
//  font-size: 45px;
//
//  @include media-max(map_get($grid-breakpoints, sm)) {
//    font-size: 30px;
//  }
//}
//
//h5,
//.h5 {
//  font-size: 35px;
//
//  @include media-max(map_get($grid-breakpoints, sm)) {
//    font-size: 25px;
//  }
//}
//
//h6,
//.h6 {
//  font-size: 30px;
//
//  @include media-max(map_get($grid-breakpoints, sm)) {
//    font-size: 23px;
//  }
//}
