mixin post-block-image
  .post-block-image&attributes(attributes)
     figure
       img(src='https://ld-wp73.template-help.com/wordpress/prod_18248/v1/wp-content/uploads/2018/03/thumb-sport-10-300x200.jpg' alt='')
     p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto autem corporis cupiditate, debitis eveniet exercitationem inventore iusto laboriosam, minus nesciunt nostrum nulla quae quaerat, qui quo recusandae sit ullam veniam!
     h5 Hackers Can Steal Your Financial Info with Your Name and Email
     p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto autem corporis cupiditate, debitis eveniet exercitationem inventore iusto laboriosam, minus nesciunt nostrum nulla quae quaerat, qui quo recusandae sit ullam veniam!
