mixin social-custom
  .social-custom&attributes(attributes)
    a(href="#").social-custom__link
      i.fab.fa-facebook-f
    a(href="#").social-custom__link
      i.fab.fa-twitter
    a(href="#").social-custom__link
      i.fab.fa-instagram
    a(href="#").social-custom__link
      i.fab.fa-youtube
    a(href="#").social-custom__link
      i.fab.fa-vimeo-v
    a(href="#").social-custom__link
      i.fab.fa-linkedin-in
