.textarea {
  border: 1px solid var(--color-border);
  border-radius: 3px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
  width: 100%;
  resize: vertical;
  color: var(--color-dark);
  font-size: 12px;

  &:focus {
    transition: 0.3s;
    outline-color: var(--color-red);
  }
}
