mixin meta-link-user
  a(href="#").meta-link&attributes(attributes)
    i.fas.fa-user-circle.meta-link__icon
    span.meta-link__text admin

mixin meta-link-date
  a(href="#").meta-link&attributes(attributes)
    i.far.fa-calendar-alt.meta-link__icon
    span.meta-link__text May 30, 2018

mixin meta-link-comments
  a(href="#").meta-link&attributes(attributes)
    i.fas.fa-comment-alt.meta-link__icon
    span.meta-link__text 0
